.slider-track {
    animation: scroll 70s linear infinite;
}





@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 12));
    }
}




.element {
    position: relative;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    margin-bottom: 3rem;
  }
  
  @keyframes bounce {
    0% {
      top: 0;
    }
    25% {
      top: 50px;
    }
    50% {
      top: 0;
    }
    75% {
      top: 25px;
    }
    100% {
      top: 0;
    }
  }